body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f2f2f2;
}

section.padding-y {
  border-bottom: 30px solid #e9ecef;
  padding-top: 60px !important;
  padding-bottom: 60px !important;
}

.col-lg-6 {
  flex: 0 0 auto;
  width: 50%;
}

.text-dark {
  color: #212529 !important;
}

h4,
.h4 {
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: .3rem;
  font-weight: 600;
  line-height: 1.25;
}

.label-rating {
  margin-left: 5px;
  margin-right: 5px;
  display: inline-block;
  vertical-align: middle;
}

.gallery-wrap .img-big-wrap img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  cursor: zoom-in;
}

.banner {
  position: relative;
  text-align: center;
  overflow: hidden;
  display: block;
  height: 300px;
}