code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.img-wrap {
  position: relative;
  text-align: center;
  overflow: hidden;
  display: block;
}

[class*="card-product"] .img-wrap img {
  height: 100%;
  max-width: 100%;
  width: auto;
}

.card-product-grid .info-wrap {
  padding: 1rem 1.2rem;
  overflow: hidden;
}

[class*="card-product"] a.title {
  display: block;
  text-decoration: none;
}

.card-product-grid .img-wrap {
  height: 240px;
}

.card-product-grid {
  margin-bottom: 20px;
}

.section-header,
.section-footer {
  box-shadow: 0 2px 10px rgb(51 51 51 / 10%);
  position: relative;
}

.section-footer .title {
  margin-bottom: 10px;
}

.list-icon,
.list-bullet,
.list-dots,
.list-check,
.list-menu {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.list-icon li,
.list-bullet li,
.list-dots li,
.list-check li,
.list-menu li {
  position: relative;
  margin-bottom: 4px;
}

.list-icon,
.list-bullet,
.list-dots,
.list-check,
.list-menu {
  list-style: none;
}

.list-menu li>a {
  display: block;
  color: #51585e;
  text-decoration: none;
}

.banner-caption {
  position: absolute;
  bottom: 20px;
  left: 10px;
  margin-left: 1rem;
}

.banner-caption h3 {
  color: #212529;
}